
.elms-sans-<uniquifier> {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#Mi-educación {
  background-image: url("https://jguzgaj.github.io/Portafolio/assets/img/2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.h5 {
 font-family: "Elms Sans", sans-serif;text
}

.footer {
}