
.elms-sans-<uniquifier> {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#Mi-presentación {
  background-image: url("https://jguzgaj.github.io/Portafolio/assets/img/2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Mi-portafolio {
 background-color: rgb(209, 107, 60);
text-align: center;
}

#Contacto {
 background-color: rgb(219, 215, 206);
text-align: center;
}

.footer {
text-align: center;
}